{{email}}
{{password}}
<form class="form-group p-4" #ngForms="ngForm" (ngSubmit)="login()">
    <div>
        <input #emailcontrol="ngModel" appEmailValidator appHover class="form-control my-4" type="email" name="email" [(ngModel)]="email" placeholder="email">
    </div>
    <div *ngif{{emailcontrol.errors}}>
        {{emailcontrol.errors|json}}
    </div>
    <div>
        <input appHover class="form-control my-4" type="password" name="password" [(ngModel)]="password" placeholder="password" autocomplete="current-password"
        required>
    </div>
    <div>
        <button class="btn btn-success" >Submit</button>
    </div>
</form>
<router-outlet></router-outlet>